html 
    head 
        title Productos 
        link(href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    body 
        .container
            h2 Actualizaci贸n o CRUD de productos 
            p(style={color:error ? 'red':'green'}) #{message}
                form(action="/product", method="POST") 
                    div.row
                        div.col
                            label C贸digo 
                            input.form-control(type="text", placeholder="C贸digo", name = "codProduct") 
                        .col
                            label Nombre
                            input.form-control(type="text", placeholder="Nombre", name = "prodName")
                    .row 
                        .col 
                            label Precio
                            input.form-control(type="text", placeholder="Precio", name = "prodPrice")
                        .col 
                            label Existencia
                            input.form-control(type="text", placeholder="Existencia", name = "prodStock")
                    hr
                    .row 
                        .col
                            button.btn.btn-success Guardar 
                    hr
                    if products.length>0 
                        table.table.table-hover
                            thead
                                th C贸digo Producto 
                                th Nombre 
                                th Precio
                                th Existencia
                            for prod in products 
                                tr
                                    td #{prod.codProduct}
                                    td #{prod.prodName}
                                    td #{prod.prodPrice}
                                    td #{prod.prodStock}
                    else
                        h4(style={color:'red'}) No hay productos en el inventario
                        

                